@font-face {
  font-family: "Lato";
  src: url("../assets//fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Encode Sans Condensed";
  src: url("../assets//fonts/EncodeSansCondensed-Regular.ttf");
}

:root {
  --primary-color: #b70200;
  --text-color: #161931;
}
