.blog-img {
  width: 200px;
  height: 150px;
  background-color: #b5b5b5;
  border-radius: 10px;
  margin-right: 20px;

  img {
    width: 100%;
    height: 100%;
  }
}

.blog-item {
  &:hover {
    cursor: pointer;
    background-color: #a6a6a655;
    transition: all 0.5s;
  }
}

.blog-detail-img {
  width: 100%;
  height: 600px;
  background-color: #b5b5b5;
  border-radius: 10px;
  margin-top: 20px;

  img {
    width: 100%;
    height: 100%;
  }
}

.loading {
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
}
